<%- include('header') %>
    <div class="position-absolute top-50 start-50 translate-middle">
        <a href='/users'><button type="submit" class="btn btn-primary rounded-pill" style="background-color: #0d3ea6;border-color:#0d3ea6">Afficher les utilisateurs</button></a>
    </div>
    <%- include('footer') %>