<%- include('header') %>

    <div class="container border border-2 rounded w-25" style="position: absolute; top: 30%; left:37%;">
        <h2 class="text-center">Sign-in</h2>
        <form method='post'>

            <div class="col-mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <p id="emailError" style="color:red"></p>


            <div class="col-mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <p id="pwError" style="color:red"></p>
            <button type="submit" class="btn btn-primary position-absolute bottom-10 start-50 translate-middle-x rounded-pill" style="margin-top: 10px;background-color: #0d3ea6;border-color:#0d3ea6">S'inscrire</button>
        </form>
    </div>


    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector('#emailError')
        const pwError = document.querySelector('#pwError')
        form.addEventListener('submit', async(e) => {
            e.preventDefault();

            const email = form.email.value;
            const password = form.password.value;

            try {
                const res = await fetch('/register', {
                    method: 'POST',
                    body: JSON.stringify({
                        email,
                        password
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })

                const data = await res.json()

                if (data.errors) {
                    emailError.textContent = data.errors.email
                    pwError.innerHTML = data.errors.password
                }
                if (data.user) {
                    location.assign('/login')
                }
            } catch (err) {
                console.log(err)
            }
        })
    </script>


    <%- include('footer') %>